*{
  margin: 0;
  padding: 0;
}

[data-theme="light"]{
  --background-color:#eeeeee;
  --primary-color:#2082fb;
  --success-color:#31d046;
  --text-color: #1c1c1c;
}

[data-theme="dark"]{
  --background-color:#19181a;
  --primary-color:#051288;
  --success-color:#126b02;
  --text-color:#ffffff;
}


* {
  transition: all 0.8s ease-out;
}


body{
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

h1{
  color:var(--text-color)
}

button{
  border: 2px solid var(--text-color);
  border-radius: 10px;
  padding: 5px;
  color:var(--text-color);
  margin: 2px;


}

.primary{
  background-color: var(--primary-color);
}

.success{
  background-color: var(--success-color);
}

/* START */

#dark-button * {
  transition: all 0.5s ease-out;
}

#dark-button input {
  display: none;
}

.checkbox {
  cursor: pointer;
  background-color: white;
  width:64px;
  height:32px;
  border-radius: 12px;
  display: flex;
  box-shadow: 0px 0px 5px #676767ac;
}

.icons{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4px
}

.icon{
  width: 24px;
  height: 24px;
}

.sun{
  color: rgb(255, 217, 0);
}

.moon{
  color: rgb(255, 255, 255);
}

.cursor{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: 32px;
  border: 2px solid black;
  border-radius: 12px;
  transition: all 0.5s ease-out;
}

#dark-button input:checked ~ div > div:last-child {
  margin-left: 0px;
  background-color: rgb(255, 217, 0);;
}

#dark-button input:checked ~ .checkbox {
  background-color: rgb(36, 5, 76);
}
