.darkmodeButton > label > input:checked ~ div {
    background-color: #270e42;
}

.darkmodeButton > label > input:checked ~ div > div:last-child{
    margin-left:0px;
    background-color:rgb(253, 194, 16);
}

body * {
    transition: all 0.5s ease-out;
}